:root {
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/*         */
/* Header */
.link {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-pre {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.list-items {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-items:hover,
.list-items:focus {
  color: #404bbf;
}

.contact-item {
  font-style: normal;
}

.contact {
  text-decoration: none;
  font-style: normal;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #404bbf;
}

/*               */
/* Section-1 Hero */
.hero-section {
  background-color: #2e2f42;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.order-btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}

.order-btn:focus,
.order-btn:hover {
  background-color: #404bbf;
}

/*                     */
/* Section-2 - About Us */
.abt-us-list {
  list-style: none;
}

.abt-us-list-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.abt-us-list-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*                         */
/* Section-3 - Our Products */
.prod-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/*                     */
/* Section-4 - Our Team */
.team-sec {
  background-color: #f4f4fd;
}

.team-header {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team-list {
  list-style: none;
}

.team-member-card {
  background-color: #ffffff;
}

.team-member-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-member-psn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*         */
/* footer */
.footer {
  background-color: #2e2f42;
}

.logo-foot {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.foot-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
}

/*                */
/* Portfolio Page */

/* filters buttons */
.filter-button {
  cursor: pointer;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #404bbf;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

/*                 */
/* Portfolio items */

.pf-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.pf-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
